@model Movie
<body class="random-movie">
    <h1>Your Random Movie</h1>
    <br />
    <h2>@Model.Name</h2>
    <p>Lead Actor: @Model.LeadActor</p>
    <p>Genre: @Model.Genre</p>
    <p>Year: @Model.Year</p>
    <p>Rating: @Model.Rating</p>
    <p>Rotten Tomatoes Rating: @Model.RottenRating</p>
    <p>Description: @Model.Description</p>
</body>
