@model Movie
<body class="gen-body">
    <br/>
    <h1 class="gen-title">Movie Generator</h1>
    <br />
    <br />

    <h4 class="generator-text">
        Everyone has that one friend(or more than one) who likes to be picky with what movie the group picks to watch.
        Please choose a genre and let the Generator do the work.
    </h4>
    <br />

    <form class="form" method="get" action="@Url.Action("GenerateRandomMovie", "Movie")">
        <label for="genre">Select Genre:</label>
        <select id="genre" name="genre">
            <option value="action">Action</option>
            <option value="comedy">Comedy</option>
            <option value="drama">Drama</option>
            <option value="war">War</option>
            <option value="thriller">Thriller</option>
            <option value="science fiction">Science Fiction</option>
            <option value="fantasy">Fantasy</option>
            <option value="musical">Musical</option>
            <option value="romance">Romance</option>
            <option value="superhero">Superhero</option>
            <option value="animation">Animation</option>
            <option value="adventure">Adventure</option>
            <option value="crime">Crime</option>
        </select>
        <br />
        <br />
        <button class="gen-button" type="submit">Generate Random Movie</button>
    </form>
</body>







@*<div>
        <h4>Name: @Model.Name</h4>
        <p>Lead Actor: @Model.LeadActor</p>
        <p>Genre: @Model.Genre</p>
        <p>Year: @Model.Year</p>
        <p>Rating: @Model.Rating</p>
        <p>Rotten Tomatoes Rating: @Model.RottenRating</p>
        <p>Description: @Model.Description</p>
    </div>*@