@model Movie
<body class="random-movie">
    <h1>Your Random Movie</h1>
    <br />
    <h2>@Model.Name</h2>
    <h4>Lead Actor: @Model.LeadActor</h4>
    <h4>Genre: @Model.Genre</h4>
    <h4>Year: @Model.Year</h4>
    <h4>Rating: @Model.Rating</h4>
    <h4>Rotten Tomatoes Rating: @Model.RottenRating</h4>
    <h4>Description: @Model.Description</h4>
</body>
