@model Movie

<h1 class="gen-title">Movie Generator</h1>

<p class="generator-text">
    Everyone has that one friend(or more than one) who likes to be picky with what movie the group picks to watch.
    Please choose what is most important to you when watching a movie. Is it the Genre, the Rotten Tomatoes Rating, or maybe the year it was made?
</p>

<form method="get" action="@Url.Action("GenerateRandomMovie", "Movie")">
    <label for="genre">Select Genre:</label>
    <select id="genre" name="genre">
        <option value="Action">Action</option>
        <option value="Comedy">Comedy</option>
        <option value="Drama">Drama</option>
        <option value="War">War</option>
        <option value="Thriller">Thriller</option>
        <option value="Science Fiction">Science Fiction</option>
        <option value="Fantacy">Fantacy</option>
        <option value="Musical">Musical</option>
        <option value="Romance">Romance</option>
        <option value="Superhero">Superhero</option>
        <option value="Animation">Animation</option>
        <option value="Adventure">Adventure</option>
        <option value="Crime">Crime</option>
    </select>
    <button type="submit">Generate Random Movie</button>
</form>



<h2>Random Movie</h2>

@*<div>
    <h4>Name: @Model.Name</h4>
    <p>Lead Actor: @Model.LeadActor</p>
    <p>Genre: @Model.Genre</p>
    <p>Year: @Model.Year</p>
    <p>Rating: @Model.Rating</p>
    <p>Rotten Tomatoes Rating: @Model.RottenRating</p>
    <p>Description: @Model.Description</p>
</div>*@