@model Movie
<h1>@Model.Name</h1>
<p>Lead Actor: @Model.LeadActor</p>
<p>Genre: @Model.Genre</p>
<p>Year: @Model.Year</p>
<p>Rating: @Model.Rating</p>
<p>Rotten Tomatoes Rating: @Model.RottenRating</p>
<p>Description: @Model.Description</p>